<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room.name %>
</p>

<p id='player_one'>
  <strong>Player 1:</strong>
  <%= player_one %>
</p>

<p id='player_two'>
  <strong>Player 2:</strong>
  <%= player_two %>
</p>

<p id='turn'>
  <strong><%= turn %></strong>
</p>

<input type="hidden" id="active_player"   value="<%= active_player %>">
<input type="hidden" id="inactive_player" value="<%= opponent_name(active_player) %>">

<table class="board">
  <tr>
    <td class="field" id='a1' style="background-color: <%= get_color_by_id('a1') %>;"></td>
    <td class="field" id='a2' style="background-color: <%= get_color_by_id('a2') %>;"></td>
    <td class="field" id='a3' style="background-color: <%= get_color_by_id('a3') %>;"></td>
  </tr>
  <tr>
    <td class="field" id='b1' style="background-color: <%= get_color_by_id('b1') %>;"></td>
    <td class="field" id='b2' style="background-color: <%= get_color_by_id('b2') %>;"></td>
    <td class="field" id='b3' style="background-color: <%= get_color_by_id('b3') %>;"></td>
  </tr>
  <tr>
    <td class="field" id='c1' style="background-color: <%= get_color_by_id('c1') %>;"></td>
    <td class="field" id='c2' style="background-color: <%= get_color_by_id('c2') %>;"></td>
    <td class="field" id='c3' style="background-color: <%= get_color_by_id('c3') %>;"></td>
  </tr>
</table>

<%= link_to 'Give up', '#' %>

<script type="text/javascript">
  $(".field").click(function(e) {

    if($("#active_player").val() === "<%= cookies[:xoxo_player] %>" && $("#" + this.id).css('background-color') === 'rgb(255, 255, 255)') {
      var active = $("#active_player").val();
      var inactive = $("#inactive_player").val();

      var color;
      if(active === "<%= player_one %>") {
        color = 'blue';
      }  else {
        color = 'red';
      }

      App.board.select(this.id, color);
      App.user_move.change_active_player(inactive, active);

      $.ajax({
        type: "PATCH",
        url: "/boards",
        data: {
          id: "<%= get_board_id %>",
          field: this.id,
          player: active
        },
        success: function(data) {
          if(data.win) {
            App.status.status(active + " won!");
          } else if (data.full) {
            App.status.status("Draw");
          }
        }
      });

      $.ajax({
        type: "PATCH",
        url: "/games",
        data: {
          id: "<%= get_game_id %>"
        }
      });
    }

  });
</script>
